<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tip Calculator</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/tip.css">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center title">Tip Calculator</h1>
      <div class="row">
        <div class="form-group bill_div">
          <p class="alert-message">Whoa there! You aren't leaving a tip...</p>
          <div class="bill_tip">
            <input class="form-control bill_amount" type="text" placeholder="Bill $0.00">
            <select class=" form-control tip_percent">
              <option value="" selected disabled>Tip %</option>
              <option value="0">No Tip</option>
              <option value="5">5%</option>
              <option value="10">10%</option>
              <option value="15">15%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
            </select>
          </div>

          <div class="tip_total">
            <input class="form-control tip_amount" type="text" disabled placeholder="Tip Amount">
            <input class="form-control total_bill" type="text" disabled placeholder="Total">
          </div>

          <div class="button_div">
            <button type="button" class="btn btn-primary submit_button">Calculate Tip</button>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="../javascript/tip.js"></script>
  </body>
</html>
<!-- TODO:
  make sure input values can't be text
  it's been said using the select tag is generally not ok, look for alternate solution. this is a dropdown, so need something else which gives dropdown options

  change to form with form elements
-->
