html, body {
  box-sizing: border-box;
  background: #fff;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

/* sizing for all box elements */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* styles for page title */
.title {
  color: #286090;
  margin: 25px 0 25px 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: center;
  margin: 0;
}

/* styles for input fields */
.form-control {
  margin: 0;
  display: inline-block;
  width: 30%;
  height: 40px;
  color: #999;
}

/* set styles for disabled input fields */
.form-control[disabled] {
  background: #fff;
}

/* set styles for form-control focus */
.form-control:focus {
  border: 1px solid #99dcdd;
  box-shadow: 0 0 8px #99dcdd;
}

/* styles for bill div */
.bill_div {
  background: #eee;
  border: 2px solid black;
  /* margin: 0 auto; */
  text-align: center;
  width: 50%;
  height: 50vh;
  box-shadow: 1px 3px 5px #aaa;
}

/* set text color in total field */
.total_bill {
  color: #f01a07;
}

/* container div styles for input fields */
.bill_tip,
.tip_total {
  margin-top: 40px;
}

/* container div styles for calculate tip button */
.button_div {
  text-align: center;
  margin-top: 40px;
}

/* styles for calculate tip button */
.submit_button {
  font-weight: bold;
  font-size: 2rem;
  border: none;
  outline: none;
}

/* styles for calculate tip button pseudo classes */
.submit_button:focus,
.submit_button:active:focus {
  outline: none;
}

/* tablet media query */
@media only screen and (max-width: 768px) {
  /* styles for input fields on mobile */
  .form-control {
    width: 35%;
  }

  .title {
    font-size: 3.2rem;
  }

  .bill_div {
    /* margin: 0 auto; */
    width: 70vw;
    height: 85vh;
  }
}

/* mobile media query */
@media only screen and (max-width: 480px) {
  /* styles for input fields on mobile */
  .form-control {
    width: 40%;
    font-size: 1.2rem;
  }

  .bill_div {
    /* margin: 0 auto; */
    width: 70vw;
  }

  .submit_button {
    font-size: 1.8rem;
  }
}
