html, body {
  box-sizing: border-box;
  background: #fff;
  font-size: 62.5%;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --space-between-letters: 0.1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.title {
  color: #286090;
  margin: 2.5rem 0;
  font-size: 2.8rem;
}

.row {
  display: flex;
  justify-content: center;
  margin: 0;
}

.form-control {
  margin: 1rem 0;
  display: inline-block;
  height: 4rem;
  color: #999;
  font-size: 1.4rem;
  letter-spacing: var(--space-between-letters);
}

/* set styles for disabled input fields */
.form-control[disabled] {
  background: #fff;
}

/* set styles for form-control focus */
.form-control:focus {
  border: 1px solid #99dcdd;
  box-shadow: 0 0 8px #99dcdd;
}

/* styles for bill div */
.bill_div {
  background: #eee;
  border: 2px solid black;
  text-align: center;
  box-shadow: 1px 3px 5px #aaa;
  margin-top: 2.5rem;
  margin-bottom: 0;
  padding: 0 3rem;
}

.total_bill {
  color: #f01a07;
}

.bill_tip {
  margin-top: 4rem;
}

.tip_total {
  margin-top: 2rem;
}

.button_div {
  text-align: center;
  margin: 3rem 0 4rem 0;
}

.submit_button {
  font-weight: bold;
  font-size: 1.6rem;
  border: 0.1rem solid transparent;
  outline: none;
  transition: background 0.3s linear, color 0.3s linear;
  letter-spacing: var(--space-between-letters);
  padding: 0.8rem 0;
  width: 15rem;
}

.submit_button:active {
  border-color: #337ab7;
}

/* styles for calculate tip button pseudo classes */
.submit_button:focus,
.submit_button:active:focus {
  outline: none;
  border: none;
}

@media screen and (min-width: 40em) {
  .title {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 64em) {
  .bill_tip,
  .tip_total {
    display: flex;
  }

  .form-control {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .submit_button {
    font-size: 1.8rem;
    width: 17rem;
  }

  .submit_button:hover {
    color: #337ab7;
    border: 0.1rem solid #337ab7;
    background: #fff;
  }
}
